# Train data 0 column is the meeting transcript and second column 1 is its abstraction

In [1]:
import pandas as pd
df = pd.read_csv("data\data.train.tsv",sep="\t", header=None)
df.head()

,0,1
0,well this is the kick-off meeting for our our ...,The project manager introduced the upcoming pr...
1,so according to the brief we're gonna be selli...,The project manager talked about the project f...
2,"as well as characters, different keypad styles...",The team then discussed various features to co...
3,I mean do you think the fact that it's going t...,The remote will be sold on an international sc...
4,And we don't want it to cost any more than twe...,The production costs cannot exceed 12.50 Euro.

In [2]:
df[0][0]

"well this is the kick-off meeting for our our project. so we're designing a new remote control and, as you can see it's supposed to be original, trendy and user friendly. and so there are three different stages to the design. So we're gonna have like individual work and then a meeting about it. And repeat that process three times. So you get to draw your favourite animal and sum up your favourite characteristics of it. My favourite animal is like A beagle., right, well basically high priority for any animal for me is that they be willing to take a lot of physical affection from their family. And, yeah that they have lots of personality Well, my favourite animal would be a monkey. Then they're small cute and furry, and I kind of like whales. They come in and go eat everything in sight. M my favourite animal is my own dog at home. he's very friendly and cheery and always pleased to see you,"

In [3]:
df[1][1]

'The project manager talked about the project finances and selling prices.'

In [4]:
# Shape of train data
df.shape

(1734, 2)

# Second data set is test data first column is meeting transript and second column 1 is abstraction

In [5]:
df_test_tsv = pd.read_csv('data\data.test.tsv',sep = "\t",header=None)
df_test_tsv .head(10)

,0,1
0,"Okay,, first is the functional design, this is...",She presented a long-range agenda for the whol...
1,We're gonna practice with the pens and draw ou...,The group introduced themselves to each other ...
2,"Yeah, I don't I don't know how for twenty fi, ...",There may not be enough money in the budget to...
3,"I'm Sarah, the Project Manager Okay, this is o...",The Project Manager gave an introduction to th...
4,"but you know on a mobile phone, you can press ...",They discussed grouping features into a menu a...
5,And there's no reason we need to make it look ...,They also discussed the look of various materi...
6,"finance-wise, we've got a selling price at twe...",The Project Manager presented the project budg...
7,What are your experiences with remote controls...,Then the group began a discussion about their ...
8,so we're all gonna go off and do our individua...,The group will prepare for the functional desi...
9,", th the shape you got trendy. I mean so many ...",The group then discussed the shell-like shape ...

In [6]:
df_test_tsv[0][0]

"Okay,, first is the functional design, this is where we all go off and do our individual work, what needs need to be fulfilled by the product,, conceptual design, and then the detailed design, how we're actually gonna put it into practice and make it work."

In [7]:
df_test_tsv[1][1]

'The group introduced themselves to each other and practiced with the meeting room tools by drawing on the board.'

In [8]:
df_test_tsv.shape

(342, 2)

# dev file consists of first column 0 as meeting transcript and 1 is its abstraction

In [9]:
data_train_txt = pd.read_csv('data\data.train.tsv',sep='\t' ,header=None)
data_train_txt

,0,1
0,well this is the kick-off meeting for our our ...,The project manager introduced the upcoming pr...
1,so according to the brief we're gonna be selli...,The project manager talked about the project f...
2,"as well as characters, different keypad styles...",The team then discussed various features to co...
3,I mean do you think the fact that it's going t...,The remote will be sold on an international sc...
4,And we don't want it to cost any more than twe...,The production costs cannot exceed 12.50 Euro.
...,...,...
1729,think I had the best solution that I came up w...,"Because the prototype was over budget, the tea..."
1730,I think it's the best solution to make those c...,"They also discarded the special colour, and de..."
1731,Triple R_ it is.,The remote control is going to be called Tripl...
1732,You have the total of seventeen Euros in produ...,"The production cost was 17 euros, 4.5 more tha..."
1733,What do we scrap.,It was imperative that some of the features ha...

In [10]:
data_train_txt[0][0]

"well this is the kick-off meeting for our our project. so we're designing a new remote control and, as you can see it's supposed to be original, trendy and user friendly. and so there are three different stages to the design. So we're gonna have like individual work and then a meeting about it. And repeat that process three times. So you get to draw your favourite animal and sum up your favourite characteristics of it. My favourite animal is like A beagle., right, well basically high priority for any animal for me is that they be willing to take a lot of physical affection from their family. And, yeah that they have lots of personality Well, my favourite animal would be a monkey. Then they're small cute and furry, and I kind of like whales. They come in and go eat everything in sight. M my favourite animal is my own dog at home. he's very friendly and cheery and always pleased to see you,"

In [11]:
data_train_txt[1][1]

'The project manager talked about the project finances and selling prices.'

In [12]:
data_train_txt.shape

(1734, 2)

In [13]:
data_train_txt.head()

,0,1
0,well this is the kick-off meeting for our our ...,The project manager introduced the upcoming pr...
1,so according to the brief we're gonna be selli...,The project manager talked about the project f...
2,"as well as characters, different keypad styles...",The team then discussed various features to co...
3,I mean do you think the fact that it's going t...,The remote will be sold on an international sc...
4,And we don't want it to cost any more than twe...,The production costs cannot exceed 12.50 Euro.

# Data Analysis of train data

In [14]:
# length of out of 1734 rows only 633 rows are unique

In [15]:
data_train_txt.describe()

,0,1
count,1734,1731
unique,1701,1665
top,so let's go back to our laboratory and To impr...,The team will not work with teletext.
freq,3,6

In [16]:
data_train_txt['len_records'] =data_train_txt[0].apply(len)
data_train_txt[:5]

,0,1,len_records
0,well this is the kick-off meeting for our our ...,The project manager introduced the upcoming pr...,901
1,so according to the brief we're gonna be selli...,The project manager talked about the project f...,765
2,"as well as characters, different keypad styles...",The team then discussed various features to co...,1346
3,I mean do you think the fact that it's going t...,The remote will be sold on an international sc...,213
4,And we don't want it to cost any more than twe...,The production costs cannot exceed 12.50 Euro.,101

In [17]:
type(data_train_txt[1])

pandas.core.series.Series

In [18]:
data_train_txt[1]= data_train_txt[1].astype(str)

In [ ]:
data_train_txt.fillna("")

,0,1,len_records
0,well this is the kick-off meeting for our our ...,The project manager introduced the upcoming pr...,901
1,so according to the brief we're gonna be selli...,The project manager talked about the project f...,765
2,"as well as characters, different keypad styles...",The team then discussed various features to co...,1346
3,I mean do you think the fact that it's going t...,The remote will be sold on an international sc...,213
4,And we don't want it to cost any more than twe...,The production costs cannot exceed 12.50 Euro.,101
...,...,...,...
1729,think I had the best solution that I came up w...,"Because the prototype was over budget, the tea...",153
1730,I think it's the best solution to make those c...,"They also discarded the special colour, and de...",160
1731,Triple R_ it is.,The remote control is going to be called Tripl...,16
1732,You have the total of seventeen Euros in produ...,"The production cost was 17 euros, 4.5 more tha...",57
1733,What do we scrap.,It was imperative that some of the features ha...,17

In [ ]:
data_train_txt['len_summary'] = data_train_txt[1].apply(len)
data_train_txt[:5]

In [ ]:
data_train_txt['len_record'] = data_train_txt[0].apply(len)
data_train_txt[:5]

In [ ]:
# Plot the length os sentences

In [ ]:
data_train_txt['len_record'].plot.hist(bins=50)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
data_train_txt['len_summary'].plot.hist(bins=50)

# see the max , min and mean length of records in the data

In [ ]:
data_train_txt['len_record'].describe()

In [ ]:
# observed 2068 words in a meeting transcript
data_train_txt[data_train_txt['len_record'] == 2068][0].iloc[0]

In [ ]:
## observed 4 words in a meeting transcript
data_train_txt[data_train_txt['len_record'] == 4][0].iloc[0]

In [ ]:
data_train_txt['len_summary'].describe()

In [ ]:
# maximum summary in train data
data_train_txt[data_train_txt['len_summary'] == 398][0].iloc[0]

# Word Clouds 
# display a set of words in the form of a cloud. The more frequent a word appears in
# the text, the bigger it will become. Thus, by simply looking at the cloud

In [ ]:
!pip install wordcloud

In [ ]:
import collections
import numpy as np
import pandas as pd
import matplotlib.cm as cm
import matplotlib.pyplot as plt
from matplotlib import rcParams
from wordcloud import WordCloud, STOPWORDS
%matplotlib inline

In [ ]:
# convert all the records to lower case using lower() method and combine them into
# a variable records.

In [ ]:
# Column 0 means recorded scripts
all_records = ''.join(data_train_txt[0].str.lower())
all_records

In [ ]:
stopwords = STOPWORDS
wordcloud = WordCloud(stopwords=stopwords, background_color="white", max_words=1981).generate(all_records)
rcParams['figure.figsize'] = 10, 20
plt.imshow(wordcloud)
plt.axis("off")
plt.show()

# wordcloud for recorded scripts

In [ ]:
filtered_words = [word for word in all_records.split() if word not in stopwords]
counted_words = collections.Counter(filtered_words)

words = []
counts = []
for letter, count in counted_words.most_common(10):
    words.append(letter)
    counts.append(count)
colors = cm.rainbow(np.linspace(0, 1, 10))
rcParams['figure.figsize'] = 20, 10

plt.title('Top words in the headlines vs their count')
plt.xlabel('Count')
plt.ylabel('Words')
plt.barh(words, counts, color=colors)

In [ ]:
# Most repeated wotrds
counted_words.most_common(50)

# word cloud of summaries

In [ ]:
# Column 1 means summaries
all_summaries = ''.join(data_dev_txt[1].str.lower())
all_summaries

In [ ]:
stopwords = STOPWORDS
wordcloud = WordCloud(stopwords=stopwords, background_color="white", max_words=1981).generate(all_records)
rcParams['figure.figsize'] = 10, 20
plt.imshow(wordcloud)
plt.axis("off")
plt.show()

In [ ]:
filtered_words_summaries = [word for word in all_summaries.split() if word not in stopwords]
counted_words_summaries = collections.Counter(filtered_words)

words = []
counts = []
for letter, count in counted_words.most_common(10):
    words.append(letter)
    counts.append(count)
colors = cm.rainbow(np.linspace(0, 1, 10))
rcParams['figure.figsize'] = 20, 10

plt.title('Top words in the headlines vs their count')
plt.xlabel('Count')
plt.ylabel('Words')
plt.barh(words, counts, color=colors)

In [ ]:
# Most repeated wotrds
counted_words_summaries.most_common(50)

In [ ]:
all_data = pd.DataFrame(pd.concat([data_train_txt[0], data_train_txt[1]]))
all_data.columns = ["rec"]

all_data["num_of_words"] = all_data["rec"].apply(lambda x : len(str(x).split()))
all_data["num_of_words"]

In [ ]:
!pip install NLTK
import nltk
nltk.download()

In [ ]:
STOP_WORDS = nltk.corpus.stopwords.words()

def clean_sentence(val):
    "remove chars that are not letters or numbers, downcase, then remove stop words"
    regex = re.compile('([^\s\w]|_)+')
    sentence = regex.sub('', val).lower()
    sentence = sentence.split(" ")
    
    for word in list(sentence):
        if word in STOP_WORDS:
            sentence.remove(word)  
            
    sentence = " ".join(sentence)
    return sentence

def clean_dataframe(data_train_txt):
    "drop nans, then apply 'clean_sentence' function to question1 and 2"
    data_train_txt = data_train_txt.dropna(how="any")
    
    for col in [0, 1]:
        data_train_txt[col] = data_train_txt[col].apply(clean_sentence)
    
    return data_train_txt

data = clean_dataframe(data_train_txt)
data.head(5)

In [ ]:
cnt_srs = all_data['num_of_words'].value_counts()

plt.figure(figsize=(12,6))
sns.barplot(cnt_srs.index, cnt_srs.values, alpha=0.8)#,color=color[0])
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('Number of words in the question', fontsize=12)
plt.xticks(rotation='vertical')
plt.show()